#toNext
{
    background-color: lightskyblue;
    width: 100px;
    height: 65px;
    border-radius: 7%;
    font-size: large;
    font-weight: bold;
    pointer-events: all;
    align-items: center;
    text-align: center;
    left: 0px;
}

#Logo-de-Dofi
{
    width: 200px;
    pointer-events: all;
}

#toReset
{
    background-color: lightcyan;
    width: 65px;
    height: 65px;
    border-radius: 7%;
    font-size: large;
    font-weight: bold;
    pointer-events: all;
    align-items: center;
    text-align: center;
    position: relative;
    left: 0px;
    top: 0px;
}

body 
{
    margin: 0;
    background-color: whitesmoke;
}