

#toNext
{
    background: transparent;
    pointer-events: all;
    border-radius: 50%;
    left: 75px;
}

#nextImg
{
    /*position: relative;*/
    
    background: transparent;
    width: 100px;
    cursor: pointer;
    border-radius: 60%;
}

#nextImg:active
{
    background-color: olive;
    width: 90px;
}

#Logo-de-Dofi
{
    max-width: 100%;
    max-height: 100%;
    width: 20%;
    aspect-ratio: width/height;
}

#Link-de-Dofi
{
    pointer-events: all;
}

/*----Estilos de los parrafos de texto.--------*/

#step-one
{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: justify;
    text-align: justify;
    width: 25%;
    right: 10%;
    top: 40%;
}

#step-two
{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: justify;
    text-align: justify;
    width: 25%;
    right: 10%;
    top:40%;
}

#step-three
{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: justify;
    text-align: justify;
    width: 25%;
    right: 10%;
    top: 40%;
}

#step-four
{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: justify;
    text-align: justify;
    width: 25%;
    right: 10%;
    top: 35%;
}

#step-five
{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: justify;
    text-align: justify;
    width: 25%;
    right: 10%;
    top: 40%;
}

#step-six
{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: justify;
    text-align: justify;
    width: 25%;
    right: 10%;
    top: 40%;
}

#step-seven
{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: justify;
    text-align: justify;
    width: 25%;
    right: 10%;
    top: 35%;
}

#step-eight
{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: justify;
    text-align: justify;
    width: 25%;
    right: 15%;
    top: 35%;
}

#step-nine
{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: justify;
    text-align: justify;
    width: 30%;
    right: 10%;
    top: 40%;
}

#congrats_step
{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    display: flex;
    align-items: justify;
    text-align: center;
    width: 30%;
    left: 35%;
    top: 45%;
}

/*---------------------------------------------*/

.confettiVideo
{
    position: absolute;
    display: flex;
    right: 40%;
    top: 50%;
    width: 20%;
}

#toReset
{
    background: transparent;
    pointer-events: all;
    border-radius: 50%;
    left: -75px;
}


.stylePNG
{
    display:flex;
    position:absolute;
    flex-direction: column;
    left: 3%;
    top: 3%;
    
}


#resetImg
{
    /*position: relative;*/
    background: transparent;
    width: 90px;
    cursor: pointer;
    border-radius: 55%;
}

#resetImg:active
{
    background-color: olivedrab;
    width:80px;
}

body 
{
    margin: 0;
    background-color: whitesmoke;
}